mixin ie(classes)
  i(class=classes lang="la"): abbr(title="id est") i.e.
mixin eg(classes)
  i(class=classes lang="la"): abbr(title="exempli gratia") e.g.
mixin etc(classes)
  i(class=classes lang="la"): abbr(title="et cetera") etc.
mixin vs(classes)
  i(class=classes lang="la"): abbr(title="versus") vs.
mixin qed(classes)
  i(class=classes lang="la"): abbr(title="quod erat demonstrandum") q.e.d.
