doctype html
html(lang="en")
  mixin doctoc(args)
    //- NOTE parameter validation
    -
      var pages   = args.pages   || []
      var classes = args.classes || {}
      var depth   = +args.depth  || 0
    ol(class=classes.listclasses)
      each item in pages
        unless item.isHidden()
          li(class=classes.itemclasses)
            a(class=classes.linkclasses href=item.url())= item.name()
            if item.description()
              = ': ' + item.description()
            if item.findAll().length && depth > 0
              +doctoc({pages: item.findAll(), classes: (classes.sub || {}), depth: depth-1})
  mixin newSection(page, hn)
    - var id = page.url().split('#')[1]
    section(id=id)
      if hn === 1
        h1 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      else if hn === 3
        h3 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      else if hn === 4
        h4 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      else if hn === 5
        h5 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      else if hn === 6
        h6 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      else
        h2 #{page.name()} #[a.docs-_fragid(href=`#${id}`)]
      block
  block vars
  head
    title= page.name() + ' | Site Design'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="../styles/still-alive.css")
      link(rel="stylesheet" href="styles/styleguide.css")
  body.o-GoldenContainer
    main.o-GoldenContainer__Content
      block main
        header
          block mainHeader
            h1= page.name()
          nav
            h2 Table of Contents
            block toc
              +doctoc({pages: page.findAll(), classes: null, depth: Infinity})
    footer: nav.Bc
      h1 Sitemap
      +doctoc({pages: Styleguide.PAGES.findAll(), classes: { listclasses: 'Sib', linkclasses: 'Crumb' }, depth: 0})
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
      script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
      //- script(src="../core/scripts/global.js")
